<div class="add-quiz-container card shadow-lg p-4 bg-white mb-5">
    <h1 class="card-title text-center text-primary fw-bold">Add a New Quiz</h1>
    <form method="POST">
    {% csrf_token %}
        <div class="mb-3">
            <label for="quizName" class="form-label">Quiz Name</label>
            <input type="text" name="name" class="form-control" id="quizName" required>
        </div>
        <div class="mb-3">
            <label for="spreadsheetUrl" class="form-label">Spreadsheet URL</label>
            <input type="url" name="sheet_url" class="form-control" id="spreadsheetUrl" required>
            <div class="form-text">
                Don’t have a spreadsheet? 
                <a href="{% url 'manage_quiz:instruction' %}" target="_blank">
                    Learn how to create one
                </a>.
            </div>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" name="category" id="category" required>
                <option selected disabled>Select Category</option>
                {% if quiz_categories.categories %}
                    {% for category in quiz_categories.categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" name="status" id="status" required>
                <option value="private">Private</option>
                <option value="public">Public</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success w-100">Submit Quiz</button>
    </form>
</div>