<div class="reset-password-container card shadow-lg p-4 bg-white">
    <h1 class="card-title text-center text-primary fw-bold">Reset Password</h1>
    <form method="post" action="">
    {% csrf_token %}
        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newPassword" required>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmPassword" required>
        </div>
        <div class="text-center mb-3">
            <a href="login.html" class="text-decoration-none">Back to Login</a>
        </div>
        <button type="submit" class="btn btn-success w-100">Reset Password</button>
    </form>
</div>